In [1]:
import pandas as pd

## ðŸŒ The enterprise NASA has contacted us to identify specific information from galaxies, specifically:

In [3]:
phat=r'c:\Users\Juan Pablo Pelaez\Documents\Training Pandas\Galaxies_DataFrame (2).xlsx'
df=pd.read_excel(phat)
df

,Literature Source,Telescope,# of cubes,# of unique galaxies
0,APERTIF1,WSRT-APERTIF,5954,1740
1,WALLABY DR12,ASKAP,592,486
2,WHISP3,WSRT,272,360
3,Atlas3Dâ€‰4,WSRT,142,289
4,BLUEDISK5,WSRT,49,175
5,PPZoA6,WSRT,317,153
6,Hickson Compact Groups7,VLA,25,83
7,LVHIS8,ATCA,79,72
8,VIVA9,VLA,42,56
9,VGS10,WSRT,65,43
10,HALOGAS11,WSRT,24,39
11,PHANGS-VLA12,VLA,23,39
12,LITTLE THINGS13,VLA,40,38
13,EDGES14,VLA,24,29
14,EveryTHINGS15,VLA,38,26
15,Ursa Major Cluster16,WSRT,42,26
16,HIX17,ATCA,23,25
17,SAURON18,WSRT,10,23
18,LSB Galaxies19,"VLA, WSRT",32,22
19,FIGGS20,GMRT,22,22
20,THINGS21,VLA,33,22
21,Starburst Dwarfs22,"VLA, WSRT",18,14
22,MeerKAT Fornax Cluster23,MeerKAT,2,3
23,Individual studies,"Arecibo, ATCA, VLA, WSRT",46,97

1. Do a general overview and provide the requested data: 
a. Number of Literature Sources
b. Information type for each Source
c. How many memory requests the file

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Literature Source     24 non-null     object
 1   Telescope             24 non-null     object
 2   # of cubes            24 non-null     int64
 3   # of unique galaxies  24 non-null     int64
dtypes: int64(2), object(2)
memory usage: 900.0+ bytes

2. Create a new column 'Telescope Size' with two values: 'small-dimensional' if the # of galaxies is fewer than 153, and 'high-dimensional' if it is higher.

In [7]:
df.loc[df['# of unique galaxies'] >= 153, 'Telescope Size'] = 'high-dimensional'
df

,Literature Source,Telescope,# of cubes,# of unique galaxies,Telescope Size
0,APERTIF1,WSRT-APERTIF,5954,1740,high-dimensional
1,WALLABY DR12,ASKAP,592,486,high-dimensional
2,WHISP3,WSRT,272,360,high-dimensional
3,Atlas3Dâ€‰4,WSRT,142,289,high-dimensional
4,BLUEDISK5,WSRT,49,175,high-dimensional
5,PPZoA6,WSRT,317,153,high-dimensional
6,Hickson Compact Groups7,VLA,25,83,NaN
7,LVHIS8,ATCA,79,72,NaN
8,VIVA9,VLA,42,56,NaN
9,VGS10,WSRT,65,43,NaN
10,HALOGAS11,WSRT,24,39,NaN
11,PHANGS-VLA12,VLA,23,39,NaN
12,LITTLE THINGS13,VLA,40,38,NaN
13,EDGES14,VLA,24,29,NaN
14,EveryTHINGS15,VLA,38,26,NaN
15,Ursa Major Cluster16,WSRT,42,26,NaN
16,HIX17,ATCA,23,25,NaN
17,SAURON18,WSRT,10,23,NaN
18,LSB Galaxies19,"VLA, WSRT",32,22,NaN
19,FIGGS20,GMRT,22,22,NaN
20,THINGS21,VLA,33,22,NaN
21,Starburst Dwarfs22,"VLA, WSRT",18,14,NaN
22,MeerKAT Fornax Cluster23,MeerKAT,2,3,NaN
23,Individual studies,"Arecibo, ATCA, VLA, WSRT",46,97,NaN

In [8]:
df.loc[df['# of unique galaxies'] < 153, 'Telescope Size'] = 'small-dimensional'
df

,Literature Source,Telescope,# of cubes,# of unique galaxies,Telescope Size
0,APERTIF1,WSRT-APERTIF,5954,1740,high-dimensional
1,WALLABY DR12,ASKAP,592,486,high-dimensional
2,WHISP3,WSRT,272,360,high-dimensional
3,Atlas3Dâ€‰4,WSRT,142,289,high-dimensional
4,BLUEDISK5,WSRT,49,175,high-dimensional
5,PPZoA6,WSRT,317,153,high-dimensional
6,Hickson Compact Groups7,VLA,25,83,small-dimensional
7,LVHIS8,ATCA,79,72,small-dimensional
8,VIVA9,VLA,42,56,small-dimensional
9,VGS10,WSRT,65,43,small-dimensional
10,HALOGAS11,WSRT,24,39,small-dimensional
11,PHANGS-VLA12,VLA,23,39,small-dimensional
12,LITTLE THINGS13,VLA,40,38,small-dimensional
13,EDGES14,VLA,24,29,small-dimensional
14,EveryTHINGS15,VLA,38,26,small-dimensional
15,Ursa Major Cluster16,WSRT,42,26,small-dimensional
16,HIX17,ATCA,23,25,small-dimensional
17,SAURON18,WSRT,10,23,small-dimensional
18,LSB Galaxies19,"VLA, WSRT",32,22,small-dimensional
19,FIGGS20,GMRT,22,22,small-dimensional
20,THINGS21,VLA,33,22,small-dimensional
21,Starburst Dwarfs22,"VLA, WSRT",18,14,small-dimensional
22,MeerKAT Fornax Cluster23,MeerKAT,2,3,small-dimensional
23,Individual studies,"Arecibo, ATCA, VLA, WSRT",46,97,small-dimensional

3. Drop the '# of cubes' property

In [11]:
df= df.drop(columns=['# of cubes'])
df

,Literature Source,Telescope,# of unique galaxies,Telescope Size
0,APERTIF1,WSRT-APERTIF,1740,high-dimensional
1,WALLABY DR12,ASKAP,486,high-dimensional
2,WHISP3,WSRT,360,high-dimensional
3,Atlas3Dâ€‰4,WSRT,289,high-dimensional
4,BLUEDISK5,WSRT,175,high-dimensional
5,PPZoA6,WSRT,153,high-dimensional
6,Hickson Compact Groups7,VLA,83,small-dimensional
7,LVHIS8,ATCA,72,small-dimensional
8,VIVA9,VLA,56,small-dimensional
9,VGS10,WSRT,43,small-dimensional
10,HALOGAS11,WSRT,39,small-dimensional
11,PHANGS-VLA12,VLA,39,small-dimensional
12,LITTLE THINGS13,VLA,38,small-dimensional
13,EDGES14,VLA,29,small-dimensional
14,EveryTHINGS15,VLA,26,small-dimensional
15,Ursa Major Cluster16,WSRT,26,small-dimensional
16,HIX17,ATCA,25,small-dimensional
17,SAURON18,WSRT,23,small-dimensional
18,LSB Galaxies19,"VLA, WSRT",22,small-dimensional
19,FIGGS20,GMRT,22,small-dimensional
20,THINGS21,VLA,22,small-dimensional
21,Starburst Dwarfs22,"VLA, WSRT",14,small-dimensional
22,MeerKAT Fornax Cluster23,MeerKAT,3,small-dimensional
23,Individual studies,"Arecibo, ATCA, VLA, WSRT",97,small-dimensional

4. Rename the telescopes named 'VLA' to 'Hubble'

In [12]:
df['Telescope']=df['Telescope'].replace('VLA','HUBBLE')
df['Telescope']=df['Telescope'].replace('VLA, WSRT','HUBBLE, WSRT')
df['Telescope']=df['Telescope'].replace('Arecibo, ATCA, HUBBLEWSRT,','Arecibo, ATCA, HUBBLE, WSRT	')

In [13]:
df

,Literature Source,Telescope,# of unique galaxies,Telescope Size
0,APERTIF1,WSRT-APERTIF,1740,high-dimensional
1,WALLABY DR12,ASKAP,486,high-dimensional
2,WHISP3,WSRT,360,high-dimensional
3,Atlas3Dâ€‰4,WSRT,289,high-dimensional
4,BLUEDISK5,WSRT,175,high-dimensional
5,PPZoA6,WSRT,153,high-dimensional
6,Hickson Compact Groups7,HUBBLE,83,small-dimensional
7,LVHIS8,ATCA,72,small-dimensional
8,VIVA9,HUBBLE,56,small-dimensional
9,VGS10,WSRT,43,small-dimensional
10,HALOGAS11,WSRT,39,small-dimensional
11,PHANGS-VLA12,HUBBLE,39,small-dimensional
12,LITTLE THINGS13,HUBBLE,38,small-dimensional
13,EDGES14,HUBBLE,29,small-dimensional
14,EveryTHINGS15,HUBBLE,26,small-dimensional
15,Ursa Major Cluster16,WSRT,26,small-dimensional
16,HIX17,ATCA,25,small-dimensional
17,SAURON18,WSRT,23,small-dimensional
18,LSB Galaxies19,"HUBBLE, WSRT",22,small-dimensional
19,FIGGS20,GMRT,22,small-dimensional
20,THINGS21,HUBBLE,22,small-dimensional
21,Starburst Dwarfs22,"HUBBLE, WSRT",14,small-dimensional
22,MeerKAT Fornax Cluster23,MeerKAT,3,small-dimensional
23,Individual studies,"Arecibo, ATCA, VLA, WSRT",97,small-dimensional

In [16]:
df.to_excel('Galaxies.python.xlsx',index=False)